@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, menu,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%;
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol { 
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, menu, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
} 
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    padding: 0 5px;
    min-width: 990px;
    font: normal 13px/1.4 Arial,Verdana,sans-serif;
    background: #001530;
    &::-webkit-scrollbar {
        width: 14px;
    }
    /* Track */ 
    &::-webkit-scrollbar-track {
        @include border-radius(10px);
        @include box-shadow(inset 0 0 6px rgba(0,0,0,0.3));
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        @include border-radius(10px);
        background: #00ABC6;
    }
    &::-webkit-scrollbar-track-piece  {
        background: #08509F;
        @include box-shadow(inset 0 0 6px rgba(0,0,0,0.3));
    }
}
a{
    color: #ffa810;
    &:hover{ 
        text-decoration: none;
    }
}
.l-layout {
    margin: 0 auto;
    position: relative;
    width: 990px;
}
.l-container {
    margin: 0 auto;
    padding: 0 10px;
    width: 980px;
}
.wrapper {
    overflow: hidden;
}
.clr {
    @extend %clr;
}

/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {

}
.header__top {
    position: relative;
    z-index: 2;
    @extend %clr;
    height: 111px;
    background: #000 url(../img/header-bg.jpg) 0 0 no-repeat;
}
.logo {
    position: absolute;
    left: 5px;
    top: 0;
    @include sized-sprite($icons, logo);
    &:before {
        content: "";
        position: absolute;
        left: 17px;
        bottom: -25px;
        @include sized-sprite($icons, logo-bottom);
    }
}
.header__banner {
    float: left;
    margin: 2px 0 0 198px;
    border-radius: 6px;
    overflow: hidden;
    img {
        opacity: .5;
        border-radius: 6px;
        &:hover {
            opacity: 1;
        }
    } 
}
.user-info {
    float: right;
    padding: 13px 11px 0 0;
    @extend %clr;
    line-height: 1;
    color: #555;
    font-weight: bold;
    strong {
        color: #fff;
        font-size: 16px;
    }
}
.user-info__main {
    float: left;
    margin-right: 11px;
}
.user-info__name {
    display: block;
}
.user-info__link {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    span {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    i {
        display: inline-block;
        margin-left: 2px;
        @include sized-sprite($icons, email); 
    }
    strong {
        font-size: 11px;
        font-weight: bold;
        color: #fff;
    }
}
.user-info__points {
    display: block;
    margin: 6px 0 9px;
    strong {
        font-size: 14px;
    }
}
.user-info__money {
    strong {
        display: block;
        font-size: 20px;
    }
}
.user-info__rate {
    float: right;
    text-align: center;
}
.cash-link {
    display: inline-block;
    margin-top: 30px;
    padding: 0 12px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    border: 1px solid #050;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    @include box-shadow(0 0 10px rgba(13,157,13,1), inset 0 0 5px rgba(12,157,13,.75));
    @include background-image(linear-gradient(bottom, #0b9909 0%, #057106 45.65%, #21af25 57.89%, #5fcb5d 100%));
    &:hover {
        @include box-shadow(inset 0 0 5px rgba(12,157,13,.75));
    }
}

.menu {
    clear: both;
    border-top: 1px solid #004194;
    border-bottom: 1px solid #000;
    @include box-shadow(0 1px 0 #000);
    @include background-image(linear-gradient(bottom, #00132d 0%, #00132d 49.88%, #00214b 100%));
    ul {
        padding: 0 0 0 68px;   
        height: 34px; 
        @extend %clr;
    }
    li {
        position: relative;
        float: left;
        &:hover {
            // .submenu { 
            //     display: block;
            // } 
        }
        &:last-child {
            a {
                padding: 0 45px 0 26px;
                @include transition(none);
                text-shadow: 0 1px 0 rgba(0,0,0,.75);
                @include background-image(linear-gradient(top, #00daf8, #0094ff))
            }
        }
    } 
    .is-active {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            left: 50%;
            margin-left: -120px;
            bottom: 0;
            @include sized-sprite($icons, menu-act); 
        }
        a {
            z-index: 2;
            text-shadow: 0 0 10px #0086ff, 0 0 10px #0086ff, 0 0 10px #0086ff, 0 0 1px #004788;
            &:before,
            &:after {
                display: none;
            }
            &:hover {
                background: none;
            }
        }
    }
    a {
        position: relative;
        display: block;
        padding: 0 29px;
        height: 34px; 
        color: #fff;
        font: bold 16px/34px Arial,sans-serif;
        text-shadow: 0 -1px 0 rgba(0,0,0,.75);
        text-decoration: none;
        @include transition(all 100ms ceaser($easeInOutBack));
        &:hover {
            @include background-image(linear-gradient(bottom, #00214b 0%, #00132d 49.88%, #00132d 100%));
            &:before,
            &:after {
                display: none;
            }
        } 
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
        }
        &:before {
            left: 0;
            @include background-image(linear-gradient(top, #001836, #00050c)); 
        }
        &:after {
            right: 0;
            @include background-image(linear-gradient(top, #004194, #00152e)); 
        }
        // i {
        //     display: inline-block;
        //     margin-left: 9px;
        //     @include sized-sprite($icons, arr1); 
        // }
    } 
    // .submenu {
    //     padding: 0;
    // }
}
.menu__online {
    display: inline-block;
    @include sized-sprite($icons, online); 
}
.menu__img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    @include sized-sprite($icons, girl); 
}
// .submenu {
//     display: none;
//     position: absolute;
//     left: -1px;
//     top: 26px;
//     width: 100%; 
//     border: 1px solid #62b6ef;
//     li {
//         display: block;
//         text-align: center;
//         border-top: 1px solid #62b6ef;
//         &:first-child {
//             height: 5px; 
//             border-top: 0;
//             background: #000 url(../img/menu-bg.png) 0 2px  repeat;
//         }
//         &:last-child {
//             a {
//                 background: url(../img/menu-item.png) 0 0 repeat;
//             }
//         }
//         &:hover {
//             a {
//                 background: url(../img/menu-item.png) 0 100% repeat;
//             }
//         }
//     }
//     a {
//         padding: 0;
//         font-size: 12px;
//         background: url(../img/menu-item.png) 0 0 repeat;
//     }
// }
/* -------------------------------------- //END Header ------------------------------------------ */

/* ----------------------------------------- Sidebar -------------------------------------------- */
.wrap {
    padding: 2px;
    @extend %clr;
    @include background-image(linear-gradient(top, #10367b, #000 30%));
}
.sidebar {
    float: left;
    width: 194px;
    @include box-sizing(border-box);
}
.main {
    float: right;
    padding: 17px 15px 0;
    width: 789px;
    background: #001d41;
    @include box-shadow(inset 0 0 0 1px #005bce);
    @include box-sizing(border-box);
    border-radius: 3px;
}
.nav {
    margin: 0 0 3px;
    border: 1px solid #002149;
    border-radius: 3px;
    overflow: hidden;
    a {
        display: block;
        padding: 0 10px 0 15px;
        height: 33px;
        font-weight: bold;
        color: #f4d09e; 
        line-height: 33px;
        text-decoration: none;
        border-top: 1px solid #004194;
        border-bottom: 1px solid #000;
        text-shadow: 0 -1px 1px rgba(0,0,0,.75);
        @include background-image(linear-gradient(top, #00214a, #00142d 30%));
    }
    li {
        &:first-child {
            a {
                border-radius: 3px 3px 0 0;
            }
        }
    }
    .is-active {
        a {
            font-size: 11px;
            border-top: 1px solid #f4d09e;
            @include background-image(linear-gradient(top, #e17f00, #b70100));
        }
    }
}
.search {
    position: relative;
    padding: 3px;
    @include background-image(linear-gradient(top, #00214a, #00142d 30%));
}
.search__text {
    width: 100%;
    padding: 0 35px 0 8px;
    height: 27px;
    background: #000b1b;
    color: #fff;
    font-family: Arial,sans-serif;
    @include placeholder(#515151, italic, Arial);
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.75));
    @include box-sizing(border-box);
}
.search__submit {
    position: absolute;
    top: 5px;
    right: 1px;
    @include sized-sprite($icons, search);
}
.sidebar__banner {
    display: block;
    overflow: hidden;
    @include border-radius(5px);
    img {
        border: 1px solid #002149;
        @include border-radius(5px);
    }
}

/* -------------------------------------- //END Sidebar ------------------------------------------ */

/* ------------------------------------- Independent blocks -------------------------------------- */
.rate {
    color: #00caff;
    font-size: 12px;
    i {
        display: inline-block;
        @include sized-sprite($icons, star);
    }
    span {
        display: block;
        margin-top: 2px;
    }
}

.pagin {
    margin-bottom: 10px;
    @extend %clr;
    text-align: center;
    a {
        position: relative;
        display: inline-block;
        margin-left: -4px;
        width: 33px;
        height: 29px;
        line-height: 29px; 
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        border-top: 1px solid #004194;
        border-bottom: 1px solid #000;
        text-shadow: 0 -1px 1px rgba(0,0,0,.75);
        @include background-image(linear-gradient(top, #00214a, #00142d 30%));
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
        }
        &:before {
            left: 0;
            @include background-image(linear-gradient(top, #001836, #00050c)); 
        }
        &:after {
            right: 0;
            @include background-image(linear-gradient(top, #002e68, #00152f)); 
        }
        &:hover {
            color: #fff;
        }
    }
    .pagin__first {
        @include border-radius(4px 0 0 4px);
        &:before {
            display: none;
        }
    }
    .pagin__last {
        @include border-radius(0 4px 4px 0);
        &:after {
            display: none;
        }
    }
    .pagin__prev,
    .pagin__next {
        width: auto;
        margin: 0;
        line-height: 29px;
        @include border-radius(4px);
        &:before,
        &:after {
            display: none;
        }
        i {
            position: absolute;
            top: 50%;
            margin-top: -7px;
        }
    }
    .is-active {
        color: #fff;
        @include background-image(linear-gradient(top, #000, #003982));
    }
}
.pagin__prev {
    position: relative;
    float: left;
    span {
        padding: 0 18px 0 34px;
    }
    i {
        left: 13px;
        @include sized-sprite($icons, prev);
    }
}
.pagin__next { 
    position: relative;
    float: right;
    span {
        padding: 0 34px 0 18px;
    }
    i {
        right: 13px;
        @include sized-sprite($icons, next);
    }
}
/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */
.footer {
    margin: 0 auto;
    height: 31px;
    overflow: hidden;
    width: 990px;
    border-top: 1px solid #00295e;
    @include background-image(linear-gradient(top, #001838, #001024));
    @extend %clr; 
}
.key {
    float: left;
    padding: 1px 0 0 3px;
    @extend %clr;
    button {
        position: relative;
        float: left;
        margin: 0;
        padding: 0 13px;
        height: 28px;
        color: #3b4b63;
        font-size: 12px;
        font-weight: bold;
        border-top: 1px solid #004092;
        border-bottom: 1px solid #000;
        @include background-image(linear-gradient(top, #00224c, #00142d));
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
        }
        &:first-child {
            border-radius: 5px 0 0 5px;
            &:after {
                right: 0;
                @include background-image(linear-gradient(top, #002e68, #00152f)); 
            }
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
            &:after {
                left: 0;
                @include background-image(linear-gradient(top, #001836, #00050c)); 
            }
        }
    }
    .is-active {
        color: #fff;
        text-shadow: 0 0 10px #0086ff, 0 0 10px #0086ff;
        @include background-image(linear-gradient(top, #000, #00377e));
    }
}
.support {
    float: right;
    padding-top: 3px; 
    li {
        display: inline-block;
        padding: 0 20px 0 14px;
        color: #818181;
        font-weight: bold;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
    }
    .support__online {
        color: #41a7f1;
        i {
            display: inline-block;
            margin-right: 5px;
            width: 9px;
            height: 9px;
            @include border-radius(50%);
            @include box-shadow(0 0 10px 1px rgba(5,99,255,1));
            @include background-image(linear-gradient(top, #48c5fd, #2276c5, #48c5fd));
        } 
    } 
}
 