@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, menu,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%;
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol { 
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, menu, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
} 
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    padding: 0 5px;
    min-width: 990px;
    font: normal 13px/1.4 Arial,Verdana,sans-serif;
    background: #001530;
    &::-webkit-scrollbar {
        width: 14px;
    }
    /* Track */ 
    &::-webkit-scrollbar-track {
        @include border-radius(10px);
        @include box-shadow(inset 0 0 6px rgba(0,0,0,0.3));
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        @include border-radius(10px);
        background: #00ABC6;
    }
    &::-webkit-scrollbar-track-piece  {
        background: #08509F;
        @include box-shadow(inset 0 0 6px rgba(0,0,0,0.3));
    }
}
a{
    color: #ffa810;
    &:hover{ 
        text-decoration: none;
    }
}
.l-layout {
    margin: 0 auto;
    position: relative;
    width: 990px;
}
.l-container {
    margin: 0 auto;
    padding: 0 10px;
    width: 980px;
}
.wrapper {
    overflow: hidden;
}
.clr {
    @extend %clr;
}

/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {

}
.header__top {
    position: relative;
    z-index: 2;
    @extend %clr;
    height: 111px;
    background: #000 url(../img/header-bg.jpg) 0 0 no-repeat;
}
.logo {
    position: absolute;
    left: 25px;
    top: 0;
    @include sized-sprite($icons, logo);
    &:before {
        content: "";
        position: absolute;
        left: 17px;
        bottom: -25px;
        @include sized-sprite($icons, logo-bottom);
    }
}
.user-info {
    float: right;
    padding: 13px 11px 0 0;
    @extend %clr;
    line-height: 1;
    color: #555;
    font-weight: bold;
    strong {
        color: #fff;
        font-size: 16px;
    }
}
.user-info__main {
    float: left;
    margin-right: 11px;
}
.user-info__name {
    display: block;
}
.user-info__link {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    span {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    i {
        display: inline-block;
        margin-left: 2px;
        @include sized-sprite($icons, email); 
    }
    strong {
        font-size: 11px;
        font-weight: bold;
        color: #fff;
    }
}
.user-info__points {
    display: block;
    margin: 6px 0 9px;
    strong {
        font-size: 14px;
    }
}
.user-info__money {
    strong {
        display: block;
        font-size: 20px;
    }
}
.user-info__rate {
    float: right;
    text-align: center;
}
.cash-link {
    display: inline-block;
    margin-top: 30px;
    padding: 0 12px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    border: 1px solid #050;
    text-transform: uppercase;
    text-decoration: none;
    @include border-radius(5px);
    @include box-shadow(0 0 10px rgba(13,157,13,1), inset 0 0 5px rgba(12,157,13,.75));
    @include background-image(linear-gradient(bottom, #0b9909 0%, #057106 45.65%, #21af25 57.89%, #5fcb5d 100%));
    &:hover {
        @include box-shadow(inset 0 0 5px rgba(12,157,13,.75));
    }
}

.menu {
    height: 34px;
    background: #000 url(../img/menu-bg.png) 50% 0 no-repeat;
    @include background-size(100%, 100%);
    ul {
        padding: 4px 0 0 68px;   
    }
    li {
        position: relative;
        display: inline-block;
        &:hover {
            @include box-shadow(-1px 0 0 #306aaf, 1px 0 0 #306aaf);
            .submenu {
                display: block;
            } 
        }
        &:last-child {
            a {
                @include transition(none);
                @include background-image(linear-gradient(bottom, #0145a1 0%, #03e9fd 100%))
            }
        }
    }
    a {
        display: block;
        padding: 0 17px;
        height: 26px; 
        color: #fff;
        font: bold 13px/26px Verdana,sans-serif;
        text-shadow: 0 -1px 0 rgba(0,0,0,.75);
        text-decoration: none;
        @include transition(all 500ms ceaser($easeInOutBack));
        &:hover {
            background: url(../img/menu-item.png) 0 100% repeat;
        } 
        i {
            display: inline-block;
            margin-left: 9px;
            @include sized-sprite($icons, arr1); 
        }
    }
    .submenu {
        padding: 0;
    }
}
.submenu {
    display: none;
    position: absolute;
    left: -1px;
    top: 26px;
    width: 100%;
    border: 1px solid #62b6ef;
    li {
        display: block;
        text-align: center;
        border-top: 1px solid #62b6ef;
        &:first-child {
            height: 5px; 
            border-top: 0;
            background: #000 url(../img/menu-bg.png) 0 2px  repeat;
        }
        &:last-child {
            a {
                background: url(../img/menu-item.png) 0 0 repeat;
            }
        }
        &:hover {
            a {
                background: url(../img/menu-item.png) 0 100% repeat;
            }
        }
    }
    a {
        padding: 0;
        font-size: 12px;
        background: url(../img/menu-item.png) 0 0 repeat;
    }
}
/* -------------------------------------- //END Header ------------------------------------------ */

/* ----------------------------------------- Sidebar -------------------------------------------- */
.wrap {
    @extend %clr;
    background: #001e40;
}
.sidebar {
    float: left;
    padding: 17px 13px 0;
    width: 188px;
}
.main {
    float: right;
    padding: 17px 15px 0;
    width: 745px;
    @include box-shadow(inset 0 0 19px 6px rgba(0,0,0,.75));
    @include background-image(radial-gradient(center 6%, 150px 150px, #003b7b 0%, rgba(2,41,83,0) 100%));
}
.sidebar-item {
    margin-bottom: 9px;
    @extend %shadow;
    @include border-radius(10px);
    background: #080808;
    padding: 1px;
}
.sidebar-banner {
    overflow: hidden;
    @include border-radius(11px);
    img {
        display: block;
        @include border-radius(11px);
    }
}
.nav {
    padding: 16px 8px 12px 7px;
    ul {
        @extend %clr;
    }
    li {
        margin-bottom: 2px;
    }
    a {
        display: block;
        padding: 1px 0 3px 8px;
        &:hover {
            color: #fff;
        }
    }
    .is-active {
        position: relative;
        a {
            color: #fff;
            text-decoration: none;
            @include border-radius(4px 0 0 4px);
            @include background-image(linear-gradient(top, #e28400, #b70000 65%));
            &:after {
                content: "";
                position: absolute;
                right: -13px;
                top: 0;
                @include sized-sprite($icons, arr2);
            }
        }
    }
}
/* -------------------------------------- //END Sidebar ------------------------------------------ */

/* ------------------------------------- Independent blocks -------------------------------------- */
.rate {
    color: #00caff;
    font-size: 12px;
    i {
        display: inline-block;
        @include sized-sprite($icons, star);
    }
    span {
        display: block;
        margin-top: 2px;
    }
}

.pagin {
    margin-bottom: 10px;
    @extend %clr;
    text-align: center;
    a {
        display: inline-block;
        margin: 4px 6px 0 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1;
        border-bottom: 2px solid;
        text-decoration: none;
    }
    .pagin__prev,
    .pagin__next {
        border: 0; 
        margin: 0;
        color: #fff;
        font-size: 13px;
        line-height: 26px;
    }
    .is-active {
        color: #fff;
        border: 0;
    }
}
.pagin__prev {
    float: left;
    @include sized-sprite($icons, pagin-prev);
    span {
        padding-left: 10px;
    }
}
.pagin__next { 
    float: right;
    @include sized-sprite($icons, pagin-next);
    span {
        padding-right: 15px;
    }
}
/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */
.footer {
    margin: 0 auto;
    height: 34px;
    overflow: hidden;
    width: 990px;
    background: #000 url(../img/footer-bg.png) 0 0 no-repeat;
    @include background-size(100%, auto);
    border-bottom: 1px solid #232a33;
    @extend %clr; 
}
.key {
    float: left;
    padding: 9px 0 0 14px;
    @extend %clr;
    button {
        float: left;
        margin: 0;
        padding: 0 7px;
        height: 20px;
        color: #596e88;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #172f3d;
        @include box-shadow(inset 0 1px 3px rgba(255,255,255,.08));
        @include background-image(linear-gradient(bottom, rgba(16,56,89,.95) 0%, rgba(1,27,64,.95) 20.56%, rgba(0,26,65,.95) 53.64%, rgba(11,54,89,.95) 100%));
        &:first-child {
            @include border-radius(5px 0 0 5px);
        }
        &:last-child {
            @include border-radius(0 5px 5px 0);
        }
    }
    .is-active {
        color: #7be8fc;
        border: 1px solid #51c1ff;
        @include box-shadow(0 0 5px rgba(74,185,255,.6), inset 0 1px 4px rgba(255,255,255,.23));
        @include background-image(linear-gradient(bottom, #52c2ff 0%, #053480 21%, #002c86 54%, #38bbff 100%));
    }
}
.support {
    float: right;
    padding-top: 3px; 
    li {
        display: inline-block;
        padding: 0 20px 0 14px;
        border-left: 1px solid #233044;
        color: #818181;
        font-weight: bold;
        font-size: 11px;
        height: 30px;
        line-height: 30px;
        &:nth-child(1) {
            padding-right: 8px;
            i {
                margin: -1px 3px 0 0;
                @include sized-sprite($icons, chat);
            }
        }
        &:nth-child(2) {
            i {
                margin-right: 3px;
                @include sized-sprite($icons, lock);
            }
        }
        i, span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}
