@import "base";
.main {
    float: right;
}
.game {
    margin-right: -15px;
    li {
        margin: 0 16px 13px 0;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }
}
.game__img {
    display: block;
    margin-bottom: 3px;
    line-height: 119px;
    @include sized-sprite($icons, game);
    @include border-radius(4px);
    &:hover {
        @include box-shadow(inset 0 0 0 2px #00abc6, 0 0 15px #0f78ea, 0 0 15px #0f78ea);
    }
    img {
        vertical-align: middle;
    }
}